/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.fl-module-uabb-image-carousel button.slick-arrow {
    background-color: transparent!important;
}

.fl-module-uabb-image-carousel button.slick-arrow:hover {
    background-color: transparent!important;
}

.fl-module-uabb-image-carousel button.slick-arrow i:before {
    background-color: transparent!important;
    color: #000!important;
}

.fl-module-uabb-image-carousel .slick-prev {
    left: 20px!important;
}

.page-id-894191 fieldset ul li.firstName,
.page-id-894191 fieldset ul li.lastName,
.page-id-894191 fieldset ul li.emailAddress,
.page-id-894191 fieldset ul li.phoneNumber,
.page-id-894191 fieldset ul li.checkbox,
.page-id-894191 fieldset ul li.radio {
    clear: none !important;
    float: left !important;
    width: 48% !important;
    padding: 0 10px !important;
}

.page-id-894191 span.checkbox-option,
.page-id-894191 span.radio-option {
    display: block !important;
}

#page-region .Wrapper__cls1___2LpwQ.Wrapper__media-desktop-up___1P3Wz {
    padding-right: 2%!important;
    padding-left: 2%!important;
}

.Wrapper__cls1___2LpwQ.Wrapper__media-tablet-up___1cMla {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.mobileOnly {
    display: none;
}

.desktopOnly {
    display: block;
}

.box-slider-featured-carpet .njba-logo-carousel-body .bx-wrapper .njba-logo-inner-wrap .njba-logo-image-responsive {
    max-width: 150px;
}

#homePage header.fixedHeader {
    position: fixed;
    z-index: 9;
    right: 0;
    left: 0;
    top: 0;
    background: #ffffff;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.defaultActive>.storename a,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a {
    color: #8e9d3a;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.locnumrr>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.locnumrr>ul {
    padding: 0px;
    color: #8e9d3a;
    display: inline-block;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.locnumrr>a>i {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 5px;
}

.fl-page-nav .navbar-nav li>a {
    padding: 19px 15px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.defaultActive>.storename li .phone a span {
    color: #8e9d3a;
}

.fl-page-nav-right.fl-page-header-fixed,
.fl-page-header-fixed,
.fl-page-header {
    background: #ffffff;
}

.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle {
    top: 10px;
    right: 0;
}

.fl-slide-text>p {
    display: none !important;
}

.iscwp-gallery-slider .slick-dots li button,
.bx-wrapper .bx-pager.bx-default-pager a {
    border-color: #c7c7c7;
    background: #c7c7c7 !important;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50px;
}

.iscwp-gallery-slider .slick-dots li.slick-active button,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #444 !important;
    border-color: #444;
}

.fl-node-5cd54cfc43bf0 .uabb-social-share-horizontal .uabb-social-share-link-wrap {
    margin-bottom: 0 !important;
}

#responsive-menu-wrapper {
    padding: 50px 20px !important;
}

div#responsive-menu-search-box {
    width: calc(100% - 60px)
}

div#responsive-menu-additional-content {
    float: right;
}

#responsive-menu-container .responsive-menu-search-box {
    border: 0 !important;
    border-bottom: 1px #898989 solid !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link,
#responsive-menu-container #responsive-menu-search-box,
#responsive-menu-container #responsive-menu-additional-content,
#responsive-menu-container #responsive-menu-title {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

#responsive-menu-container #responsive-menu>li.responsive-menu-item>.responsive-menu-item-link {
    text-transform: uppercase;
    color: #dadada;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: auto;
    line-height: 1.5 !important;
}

#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a {
    font-size: 13px;
    display: inline-block;
    width: auto;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a,
#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a {
    line-height: .5 !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow {
    position: static;
    height: 40px !important;
    right: -15px !important;
    line-height: 28px !important;
    flex: 1;
    padding: 0 15px;
    text-align: left;
    background: transparent !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow.responsive-menu-subarrow-active {
    line-height: 36px !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow .fas {
    color: #dadada;
    font-size: 16px;
    vertical-align: middle;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow .fas:before {
    vertical-align: -webkit-baseline-middle;
}

#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item .responsive-menu-item-link {
    text-transform: uppercase;
    font-weight: 400;
    color: #C0C0C0;
    display: flex;
    align-items: center;
    width: auto;
    line-height: 1.3 !important;
}

#responsive-menu-container #responsive-menu {
    margin-top: 20px;
}

.toggleNavSlide .responsive-menu-inner {
    transform: rotate(45deg);
    background: #DEDEDE !important;
}

.toggleNavSlide .responsive-menu-inner::before {
    top: 0;
    opacity: 0;
}

.toggleNavSlide .responsive-menu-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    background: #DEDEDE !important;
}

.iscwp-gallery-grid.iscwp-image-fit .iscwp-col-5 .iscwp-img-wrp,
.iscwp-image-fit.slidestoshow-5 .iscwp-img-wrp {
    height: 320px;
}

.button-wrapper a.button.alt {
    border-color: #8e9d3a;
    background: #8e9d3a;
}

.product-detail-layout-4 .button-wrapper .button,
.product-detail-layout-default .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button {
    color: #ffffff;
    background: #414042;
    border-color: #414042;
}

.product-detail-layout-4 .product-swatch-inner .button-wrapper a.button {
    background: #414042!important;
    color: #fff;
    border: 0px!important;
}

.product-detail-layout-4 .product-swatch-inner .button-wrapper a.button:hover {
    line-height: none!important;
    background: #8e9d3a!important;
}

.button-wrapper a:not(.button) {
    text-align: left;
    width: 100%;
    font-weight: 400;
    color: #414042;
}

.pop-up-btn .fl-html {
    text-align: center;
}

.product-variations {
    padding: 50px 0;
    width: 100vw;
    position: relative;
    margin-left: -50vw !important;
    left: 50%;
    background: #f1f1f1;
}

.product-variations .color_variations_slider {
    max-width: 1280px;
    margin: 0 auto;
}
.product-detail-layout-6 .product-variations{
	padding: 0px;
    width: 100%;
    position: static;
    margin-left: 0px!important;
}
.product-variations>h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.product-variations .color-boxs-inners {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.product-box.pdp2-leftbox .row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.product-box h1 {
    font-weight: 500;
    font-size: 34px;
}

.product-box.pdp2-leftbox .row .product-colors {
    margin-right: 30px;
    border-right: 1px solid #8e9d3a;
    flex: 1;
    padding-right: 40px;
}

.product-box.pdp2-leftbox .row .col-md-12:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 15px;
}

.product-box.pdp2-leftbox h2 {
    display: none;
}


/* input AM & PM */

.gform_wrapper .gfield .ginput_container_select,
.gform_wrapper .gfield .gfield_time_ampm {
    width: 100% !important;
    max-width: 100% !important;
    position: relative;
    display: flex !important;
    align-items: baseline;
}

.gform_wrapper .gfield .ginput_container_select>select,
.gform_wrapper .gfield .gfield_time_ampm.ginput_container>select {
    width: 100% !important;
    max-width: 100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    font-size: 1em;
}

.gform_wrapper .gfield .ginput_container_select:after,
.gform_wrapper .gfield .gfield_time_ampm:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 20px;
    border-top: 8px solid black;
    opacity: 0.5;
    content: "";
    width: 0;
    height: 0;
    position: relative;
    pointer-events: none;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.defaultActive.nav-item .nav-link>.fa {
    color: #8e9d3a !important;
}

.facet_filters strong {
    color: #8e9d3a;
}

.fl-fixed-header.admin-bar .fl-page-bar {
    border-bottom: 0;
}

.fl-page-bar .message {
    text-transform: uppercase;
    font-size: 16px;
}

#insta-gallery-feed-1 .insta-gallery-actions,
#insta-gallery-feed-1 .qligg-icon-prev,
#insta-gallery-feed-1 .qligg-icon-next {
    display: none;
}

#insta-gallery-feed-1 .insta-gallery-list {
    margin-bottom: 50px;
}

@media(min-width: 1199px) {
    .uamodal-5e9d47700c123 .uabb-content {
        width: 1100px!important;
    }
    .uamodal-5e9d5f77c29aa .uabb-content {
        width: 1100px!important;
    }
}

@media(max-width:1024px) {
    .fl-page-nav .navbar-nav li>a {
        padding: 15px 5px;
    }
    .fl-node-5cd2a2a142cd0 .fl-button-wrap,
    .fl-node-5cd2a2a142cd1 .fl-button-wrap {
        text-align: left;
    }
    .fl-builder-content .fl-col-group .fl-node-5cd2a2a142cce,
    .fl-builder-content .fl-col-group .fl-node-5cd2a2a142ccf {
        width: auto !important;
        margin-right: 10px;
    }
}

@media(max-width:992px) {
    .fl-page-nav-wrap {
        background-color: #fff;
    }
    .fl-page-nav-right .fl-page-nav-collapse {
        display: flex !important;
        justify-content: space-between;
    }
    #homePage header.fixedHeader+.fl-page-content {
        padding-top: 0px;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
    .fl-col-group.fl-col-group-responsive-reversed .fl-col {
        max-width: 400px;
    }
    .cat-boxesHomepage .fl-col-group {
        display: flex;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content .fl-col-group {
        padding: 0 20px;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide h1 * {
        font-size: 32px !important;
        color: #414042 !important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide .fl-rich-text * {
        font-size: 16px !important;
        color: #414042 !important;
    }
    .footerSocial .fl-icon-group-right {
        text-align: center;
    }
    .fl-col-group.fl-node-5cd54cfc43bd7 {
        display: flex;
    }
    .gform_wrapper .gfield_checkbox li label,
    .gform_wrapper .gfield_radio li label {
        max-width: 100% !important;
    }
    .product-box.pdp2-leftbox .row .col-md-12:nth-child(2) {
        flex: 1;
    }
    .product-variations .slick-slider .slick-next {
        background: #ffffff;
        right: 0;
    }
    .product-variations .slick-slider .slick-prev {
        background: #ffffff;
        left: 0;
    }
}

@media (max-width: 991px) {
    #homePage header.fixedHeader+.fl-page-content {
        padding-top: 158px;
    }
}

@media(max-width:768px) {
    .fl-module-uabb-image-carousel .slick-next {
        right: 20px!important;
    }
}

@media(max-width:767px) {
    header #menu-top-bar-nav {
        display: none!important;
    }
    .fl-page {
        padding-top: 100px!important;
    }
    .fl-nav-mobile-offcanvas.fl-responsive-nav-enabled .fl-button-close {
        display: none;
    }
    .fixedHeader .fl-page-header-row.row {
        display: flex;
    }
    .fixedHeader .fl-page-header-row.row .col-sm-12 {
        flex: 1;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 100% !important;
    }
    .fl-page-nav-right .fl-page-nav-collapse {
        position: static !important;
        width: auto !important;
    }
    .fl-page-nav .navbar-nav li>a {
        padding: 15px 12px !important;
    }
    .fl-nav-mobile-offcanvas.fl-responsive-nav-enabled .fl-nav-offcanvas-collapse.navbar-collapse {
        opacity: 1 !important;
        display: flex !important;
        justify-content: flex-end;
        overflow: visible !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        border-top: 0 !important;
    }
    #menu-top-bar-nav {
        display: flex;
    }
    #menu-top-bar-nav>li {
        border: 0;
    }
    .defaultActive.nav-item .nav-link {
        font-size: 0;
    }
    .defaultActive.nav-item .nav-link>.fa {
        font-size: 24px;
    }
    /*
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse {
        display: block !important;
        visibility: visible !important;
        padding: 0;
        border: 0;
        right: 0;
        width: 70px;
        opacity: 1;
        height: 70px !important;
        left: auto !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        position: absolute;
        overflow: visible !important;
    }
    .responsive-menu-open .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse{
        width: 100%;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse .fl-button-close{
        display: none   ;
    }

    button#responsive-menu-button {
        position: absolute !important;
        height: 70px !important;
    } */
    button#responsive-menu-button {
        width: 40px !important;
    }
    .mobileOnly {
        display: block;
    }
    .desktopOnly {
        display: none !important;
    }
    /* .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse ul#menu-top-bar-nav {
        display: none;
    } */
    #homePage header.fixedHeader+.fl-page-content {
        padding-top: 0;
    }
    .cat-boxesHomepage .fl-col-group {
        display: block;
    }
    .cat-boxesHomepage .fl-photo-content {
        text-align: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide h1 {
        text-align: left;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide .fl-rich-text * {
        text-align: left;
    }
    .fl-col-group.fl-node-5cd54cfc43bd7 {
        display: block;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-header-logo {
        margin-right: 0;
        padding-bottom: 0 !important
    }
    .fixedHeader.fl-page-nav-right .fl-page-header-container {
        padding-bottom: 10px;
    }
    .fixedHeader .fl-page-header-row.row .col-sm-12.fl-page-header-logo-col {
        padding-right: 0;
        justify-content: flex-start;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 .fl-button .fl-button-text {
        font-size: 12px !important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .homepageslide a.fl-button {
        padding: 10px 10px !important;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 .fl-col {
        flex: 1;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 .fl-col .fl-button-wrap {
        text-align: left;
    }
}

@media(max-width:480px) {
    .calendly-inline-widget {
        min-width: 100%!important;
    }
    #responsive-menu-container {
        width: 75% !important;
        z-index: 99999 !important;
    }
    #calculateBtn {
        width: 280px !important;
    }
    .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.locnumrr>a>i {
        font-size: 22px;
        margin-right: 0px;
    }
    .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.locnumrr>.storename,
    .fl-page-nav-right .fl-page-nav-wrap .navbar-nav li:nth-child(2) {
        display: none!important;
    }
}

.product-detail-layout-5 .product-variations {
    margin-top: 0px !important;
}

.responsive-menu-box:hover {
    cursor: pointer!important;
}

#calculateBtn:hover {
    background: #8e9d3a !important;
    border: 1px solid #8e9d3a !important;
}

.linkHover .uabb-module-content :hover span {
    color: #fff !important;
}